<!DOCTYPE html>
<html>
<title>APP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey">APP</button>
  <span class="w3-bar-item w3-right">{{ last_updated }} {{ update_time }}</span>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> {{ dashboard_title }}</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ stats.message }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ message }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ stats.view }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ view }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ stats.share }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ share }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ stats.user }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ user }}</h4>
      </div>
    </div>
  </div>

  <div class="w3-container">
    <h5>{{ general_stat }}</h5>
    <p>{{ new_visitor }}</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>{{ new_user }}</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>{{ country }}</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>{{ country_list.germany }}</td>
        <td>{{ currencies.germany }}</td>
      </tr>
      <tr>
        <td>{{ country_list.united_kingdom }}</td>
        <td>{{ currencies.united_kingdom }}</td>
      </tr>
      <tr>
        <td>{{ country_list.russia }}</td>
        <td>{{ currencies.russia }}</td>
      </tr>
      <tr>
        <td>{{ country_list.spain }}</td>
        <td>{{ currencies.spain }}</td>
      </tr>
      <tr>
        <td>{{ country_list.india }}</td>
        <td>{{ currencies.india }}</td>
      </tr>
      <tr>
        <td>{{ country_list.france }}</td>
        <td>{{ currencies.france }}</td>
      </tr>
    </table><br>
  </div>
</div>

</body>
</html>
